<% @students.each do %>

<ul>
  <li>
    <img width='200' src='<%= @students["image_url"] %>'>
    <h3><%= @students["first_name"]%></h3>
  </li>
<!--   <li>
    <img width='200' src='https://www.kellogg.northwestern.edu/images/students/all/x410579.jpg'>
    <h3>Ty Benefiel</h3>
    </li>
  <li>
    <img width='200' src='https://www.kellogg.northwestern.edu/images/students/all/x417523.jpg'>
    <h3>Nick Chin</h3>
  </li> -->
</ul>

<% end %>
